.jumbotron{
  border-radius: 30px 
}

.card.cards>img{
  width: 15vh;
  height: 15vh;
}

.card-img {
  width: 10vh;
  border-radius: 50%;
}

ul.nav>hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.col.title-month {
    text-transform: capitalize;
}