/*************
*   General  *
*************/
/*  Spaces  */
.top-spacing-10, .both-spacing-10 { margin-top: 10px }
.top-spacing-20, .both-spacing-20 { margin-top: 20px }
.top-spacing-30, .both-spacing-30 { margin-top: 30px }
.top-spacing-40, .both-spacing-40 { margin-top: 40px }
.top-spacing-50, .both-spacing-50 { margin-top: 50px }

.bottom-spacing-10, .both-spacing-10 { margin-bottom: 10px }
.bottom-spacing-20, .both-spacing-20 { margin-bottom: 20px }
.bottom-spacing-30, .both-spacing-30 { margin-bottom: 30px }
.bottom-spacing-40, .both-spacing-40 { margin-bottom: 40px }
.bottom-spacing-50, .both-spacing-50 { margin-bottom: 50px }

.left-spacing-10, .both-s-spacing-10 { margin-left: 10px }
.left-spacing-20, .both-s-spacing-20 { margin-left: 20px }
.left-spacing-30, .both-s-spacing-30 { margin-left: 30px }
.left-spacing-40, .both-s-spacing-40 { margin-left: 40px }
.left-spacing-50, .both-s-spacing-50 { margin-left: 50px }


.right-spacing-10, .both-s-spacing-10 { margin-right: 10px}
/*   End   */

/* Alert Box */
#message-alert, #message-alert-auto {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    width: 65%;
    z-index: 9999;
}

/* Imagen de perfil */
#prevImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.p-info .active a,
.p-info .active a:hover {
    background-color: #17a2b8;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    background-color: #17a2b8;
}

/* Number of columns */
.card-columns {
  column-count: 4!important;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

#topdf>a:hover, #toview>a:hover{
    text-decoration: none;
}

#toview>a>div:hover{
    background-color: rgba(80, 190, 95, 0.7)!important;
}

.bg-info-pers{
    background-color: rgba(180, 120, 25, 0.5)!important;
}

.firma-img{
  width: 100%;
  height: 100%;
}
